Tests fails with zope.interface>=5.x.x

After update to zope.interface-5.1.0 test fails.

Reported on redhat bugzilla:
https://bugzilla.redhat.com/show_bug.cgi?id=1825462

```
running test
WARNING: Testing via this command is deprecated and will be removed in a future version. Users looking for a generic test entry point independent of test runner are encouraged to use tox.
running egg_info
writing repoze.who.egg-info/PKG-INFO
writing dependency_links to repoze.who.egg-info/dependency_links.txt
writing entry points to repoze.who.egg-info/entry_points.txt
writing namespace_packages to repoze.who.egg-info/namespace_packages.txt
writing requirements to repoze.who.egg-info/requires.txt
writing top-level names to repoze.who.egg-info/top_level.txt
reading manifest file 'repoze.who.egg-info/SOURCES.txt'
writing manifest file 'repoze.who.egg-info/SOURCES.txt'
running build_ext
test___call___no_identity_returns_False (repoze.who.tests.test_restrict.AuthenticatedPredicateTests) ... ok
test___call___w_REMOTE_AUTH_returns_True (repoze.who.tests.test_restrict.AuthenticatedPredicateTests) ... ok
test___call___w_repoze_who_identity_returns_True (repoze.who.tests.test_restrict.AuthenticatedPredicateTests) ... ok
test_enabled (repoze.who.tests.test_restrict.MakeAuthenticatedRestrictionTests) ... ok
test_disabled_non_string_predicate_w_args (repoze.who.tests.test_restrict.MakePredicateRestrictionTests) ... ok
test_enabled_string_predicate_w_args (repoze.who.tests.test_restrict.MakePredicateRestrictionTests) ... ok
test_non_string_predicate_no_args (repoze.who.tests.test_restrict.MakePredicateRestrictionTests) ... ok
test___call___disabled_predicate_false_calls_app_not_predicate (repoze.who.tests.test_restrict.PredicateRestrictionTests) ... ok
test___call___enabled_predicate_false_returns_401 (repoze.who.tests.test_restrict.PredicateRestrictionTests) ... ok
test___call___enabled_predicate_true_calls_app (repoze.who.tests.test_restrict.PredicateRestrictionTests) ... ok
test_it_no_WHO_LOG_in_environ (repoze.who.tests.test_middleware.TestMakeTestMiddleware) ... ok
test_it_w_WHO_LOG_in_environ (repoze.who.tests.test_middleware.TestMakeTestMiddleware) ... ok
test_call_200_challenger_and_identifier_and_authenticator (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_call_200_identity_reset (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_call_200_no_challengers (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_call_200_no_challengers_app_calls_forget (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_call_200_no_plugins (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_call_200_with_metadata (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_call_401_challenger_and_identifier_and_authenticator (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_call_401_challenger_and_identifier_no_authenticator (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_call_401_no_challengers (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_call_401_no_identifiers (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_call_app_doesnt_call_start_response (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_call_ingress_plugin_replaces_application (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_call_remoteuser_already_set (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_call_w_challenge_but_no_challenger_still_closes_iterable (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_call_w_challenge_closes_iterable (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_ctor_accepts_logger (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_ctor_positional_args (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_ctor_w_classifier (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_ctor_w_request_classifier_and_classifier_raises (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_ctor_wo_challenge_decider_raises (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_ctor_wo_request_classifier_or_classifier_raises (repoze.who.tests.test_middleware.TestMiddleware) ... ok
test_ctor (repoze.who.tests.test_middleware.TestStartResponseWrapper) ... ok
test_finish_response (repoze.who.tests.test_middleware.TestStartResponseWrapper) ... ok
test_w_empty_generator (repoze.who.tests.test_middleware.WrapGeneratorTests) ... ok
test_w_generator (repoze.who.tests.test_middleware.WrapGeneratorTests) ... ok
test_w_iterator_having_close (repoze.who.tests.test_middleware.WrapGeneratorTests) ... ok
test_emit_doesnt_raise_NotImplementedError (repoze.who.tests.test_config.NullHandlerTests) ... ok
test_inheritance (repoze.who.tests.test_config.NullHandlerTests) ... ok
test_sample_config (repoze.who.tests.test_config.TestConfigMiddleware) ... ok
test_sample_config_no_log_level (repoze.who.tests.test_config.TestConfigMiddleware) ... ok
test_sample_config_w_log_file (repoze.who.tests.test_config.TestConfigMiddleware) ... ok
test_sample_config_wo_log_file (repoze.who.tests.test_config.TestConfigMiddleware) ... ok
test_defaults_before_parse (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_authenticators_only (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_authenticators_with_plugins (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_challengers_only (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_challengers_with_plugins (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_empty_file (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_empty_string (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_general_empty (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_general_only (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_general_with_plugins (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_identifiers_only (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_identifiers_with_plugins (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_make_plugin_names (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_mdproviders_only (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_mdproviders_with_plugins (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_parse_plugins (repoze.who.tests.test_config.TestWhoConfig) ... ok
test_bad_config_content (repoze.who.tests.test_config.Test_make_api_factory_with_config) ... ok
test_bad_config_filename (repoze.who.tests.test_config.Test_make_api_factory_with_config) ... ok
test_sample_config_no_logger (repoze.who.tests.test_config.Test_make_api_factory_with_config) ... ok
test_sample_config_w_logger (repoze.who.tests.test_config.Test_make_api_factory_with_config) ... ok
test_sample_config_w_remote_user_key (repoze.who.tests.test_config.Test_make_api_factory_with_config) ... ok
test_challenges_on_401 (repoze.who.tests.test_classifiers.TestDefaultChallengeDecider) ... ok
test_conforms_to_IChallengeDecider (repoze.who.tests.test_classifiers.TestDefaultChallengeDecider) ... ok
test_doesnt_challenges_on_non_401 (repoze.who.tests.test_classifiers.TestDefaultChallengeDecider) ... ok
test_classify_browser (repoze.who.tests.test_classifiers.TestDefaultRequestClassifier) ... ok
test_classify_dav_method (repoze.who.tests.test_classifiers.TestDefaultRequestClassifier) ... ok
test_classify_dav_useragent (repoze.who.tests.test_classifiers.TestDefaultRequestClassifier) ... ok
test_classify_rich_xmlpost (repoze.who.tests.test_classifiers.TestDefaultRequestClassifier)
RFC 2046, sec. 4.1.2: A critical parameter that may be specified ... ok
test_classify_xmlpost (repoze.who.tests.test_classifiers.TestDefaultRequestClassifier) ... ok
test_classify_xmlpost_uppercase (repoze.who.tests.test_classifiers.TestDefaultRequestClassifier)
RFC 2045, Sec. 5.1: The type, subtype, and parameter names ... ok
test_conforms_to_IRequestClassifier (repoze.who.tests.test_classifiers.TestDefaultRequestClassifier) ... ok
test_challenges_on_bare_401 (repoze.who.tests.test_classifiers.TestPassthroughChallengeDecider) ... ok
test_conforms_to_IChallengeDecider (repoze.who.tests.test_classifiers.TestPassthroughChallengeDecider) ... ok
test_doesnt_challenges_on_401_with_WWW_Authenticate (repoze.who.tests.test_classifiers.TestPassthroughChallengeDecider) ... ok
test_doesnt_challenges_on_401_with_text_html (repoze.who.tests.test_classifiers.TestPassthroughChallengeDecider) ... ok
test_doesnt_challenges_on_non_401 (repoze.who.tests.test_classifiers.TestPassthroughChallengeDecider) ... ok
test___call___empty_environ (repoze.who.tests.test_api.APIFactoryTests) ... ok
test___call___w_api_in_environ (repoze.who.tests.test_api.APIFactoryTests) ... ok
test_class_conforms_to_IAPIFactory (repoze.who.tests.test_api.APIFactoryTests) ... ok
test_ctor_defaults (repoze.who.tests.test_api.APIFactoryTests) ... ok
test_instance_conforms_to_IAPIFactory (repoze.who.tests.test_api.APIFactoryTests) ... ok
test__add_metadata (repoze.who.tests.test_api.APITests) ... ok
test__add_metadata_w_classification (repoze.who.tests.test_api.APITests) ... ok
test__authenticate_fail (repoze.who.tests.test_api.APITests) ... ok
test__authenticate_find_explicit_classifier (repoze.who.tests.test_api.APITests) ... ok
test__authenticate_find_implicit_classifier (repoze.who.tests.test_api.APITests) ... ok
test__authenticate_success (repoze.who.tests.test_api.APITests) ... ok
test__authenticate_success_multiresult (repoze.who.tests.test_api.APITests) ... ok
test__authenticate_success_skip_fail (repoze.who.tests.test_api.APITests) ... ok
test__authenticate_user_null_but_not_none (repoze.who.tests.test_api.APITests) ... ok
test__identify_fail (repoze.who.tests.test_api.APITests) ... ok
test__identify_find_explicit_classifier (repoze.who.tests.test_api.APITests) ... ok
test__identify_find_implicit_classifier (repoze.who.tests.test_api.APITests) ... ok
test__identify_success (repoze.who.tests.test_api.APITests) ... ok
test__identify_success_empty_identity (repoze.who.tests.test_api.APITests) ... ok
test__identify_success_multiresults (repoze.who.tests.test_api.APITests) ... ok
test__identify_success_skip_noresults (repoze.who.tests.test_api.APITests) ... ok
test_authenticate_no_identities (repoze.who.tests.test_api.APITests) ... ok
test_authenticate_w_identities_no_authenticators (repoze.who.tests.test_api.APITests) ... ok
test_authenticate_w_identities_w_authenticators_hit (repoze.who.tests.test_api.APITests) ... ok
test_challenge_identifier_app_no_forget_headers (repoze.who.tests.test_api.APITests) ... ok
test_challenge_identifier_no_app_forget_headers (repoze.who.tests.test_api.APITests) ... ok
test_challenge_identifier_no_app_no_forget_headers (repoze.who.tests.test_api.APITests) ... ok
test_challenge_noidentifier_noapp (repoze.who.tests.test_api.APITests) ... ok
test_challenge_noidentifier_with_app (repoze.who.tests.test_api.APITests) ... ok
test_class_conforms_to_IAPI (repoze.who.tests.test_api.APITests) ... ok
test_ctor_accepts_logger_instance (repoze.who.tests.test_api.APITests) ... ok
test_forget_identifier_plugin_returns_none (repoze.who.tests.test_api.APITests) ... ok
test_forget_no_identity_passed_but_in_environ (repoze.who.tests.test_api.APITests) ... ok
test_forget_no_identity_passed_or_in_environ (repoze.who.tests.test_api.APITests) ... ok
test_forget_w_identity_passed_no_identifier (repoze.who.tests.test_api.APITests) ... ok
test_forget_w_identity_passed_w_identifier (repoze.who.tests.test_api.APITests) ... ok
test_login_w_identifier_name_hit (repoze.who.tests.test_api.APITests) ... ok
test_login_w_identifier_name_miss (repoze.who.tests.test_api.APITests) ... ok
test_login_wo_identifier_name_hit (repoze.who.tests.test_api.APITests) ... ok
test_logout_removes_repoze_who_identity (repoze.who.tests.test_api.APITests) ... ok
test_logout_w_identifier_name (repoze.who.tests.test_api.APITests) ... ok
test_logout_wo_identifier_name (repoze.who.tests.test_api.APITests) ... ok
test_logout_wo_identifier_name_miss (repoze.who.tests.test_api.APITests) ... ok
test_multi_challenge_firstwins (repoze.who.tests.test_api.APITests) ... ok
test_multi_challenge_skipnomatch_findexplicit (repoze.who.tests.test_api.APITests) ... ok
test_multi_challenge_skipnomatch_findimplicit (repoze.who.tests.test_api.APITests) ... ok
test_remember_identifier_plugin_returns_none (repoze.who.tests.test_api.APITests) ... ok
test_remember_no_identity_passed_but_in_environ (repoze.who.tests.test_api.APITests) ... ok
test_remember_no_identity_passed_or_in_environ (repoze.who.tests.test_api.APITests) ... ok
test_remember_w_identity_passed_no_identifier (repoze.who.tests.test_api.APITests) ... ok
test_remember_w_identity_passed_w_identifier (repoze.who.tests.test_api.APITests) ... ok
test_repr (repoze.who.tests.test_api.TestIdentityDict) ... ok
test_str (repoze.who.tests.test_api.TestIdentityDict) ... ok
test_brokenimpl (repoze.who.tests.test_api.TestMakeRegistries) ... ERROR
test_empty (repoze.who.tests.test_api.TestMakeRegistries) ... ok
test_ok (repoze.who.tests.test_api.TestMakeRegistries) ... ok
test_match_classification (repoze.who.tests.test_api.TestMatchClassification) ... ok
test___call___empty_environ (repoze.who.tests.test_api.Test_get_api) ... ok
test___call___w_api_in_environ (repoze.who.tests.test_api.Test_get_api) ... ok
test_AUTHORIZATION_hit (repoze.who.tests.test__compat.CompatTests) ... ok
test_AUTHORIZATION_miss (repoze.who.tests.test__compat.CompatTests) ... ok
test_CONTENT_TYPE_hit (repoze.who.tests.test__compat.CompatTests) ... ok
test_CONTENT_TYPE_miss (repoze.who.tests.test__compat.CompatTests) ... ok
test_REQUEST_METHOD_hit (repoze.who.tests.test__compat.CompatTests) ... ok
test_REQUEST_METHOD_miss (repoze.who.tests.test__compat.CompatTests) ... ok
test_USER_AGENT_hit (repoze.who.tests.test__compat.CompatTests) ... ok
test_USER_AGENT_miss (repoze.who.tests.test__compat.CompatTests) ... ok
test_construct_url (repoze.who.tests.test__compat.CompatTests) ... ok
test_get_cookies_no_cache_ok_header_value (repoze.who.tests.test__compat.CompatTests) ... ok
test_get_cookies_w_cache_hit (repoze.who.tests.test__compat.CompatTests) ... ok
test_get_cookies_w_cache_miss (repoze.who.tests.test__compat.CompatTests) ... ok
test_header_value_miss (repoze.who.tests.test__compat.CompatTests) ... ok
test_header_value_simple (repoze.who.tests.test__compat.CompatTests) ... ok
test_must_decode_latin1 (repoze.who.tests.test__compat.CompatTests) ... ok
test_must_decode_non_string (repoze.who.tests.test__compat.CompatTests) ... ok
test_must_decode_unicode (repoze.who.tests.test__compat.CompatTests) ... ok
test_must_decode_utf8 (repoze.who.tests.test__compat.CompatTests) ... ok
test_must_encode_latin1 (repoze.who.tests.test__compat.CompatTests) ... ok
test_must_encode_non_string (repoze.who.tests.test__compat.CompatTests) ... ok
test_must_encode_unicode (repoze.who.tests.test__compat.CompatTests) ... ok
test_must_encode_utf8 (repoze.who.tests.test__compat.CompatTests) ... ok
test_cookie_not_secure_wo_tokens_or_userdata (repoze.who.tests.test__auth_tkt.AuthTicketTests) ... ok
test_cookie_secure_w_tokens_and_userdata (repoze.who.tests.test__auth_tkt.AuthTicketTests) ... ok
test_cookie_value_w_tokens_and_userdata (repoze.who.tests.test__auth_tkt.AuthTicketTests) ... ok
test_cookie_value_wo_tokens_or_userdata (repoze.who.tests.test__auth_tkt.AuthTicketTests) ... ok
test_ctor_defaults (repoze.who.tests.test__auth_tkt.AuthTicketTests) ... ok
test_ctor_explicit (repoze.who.tests.test__auth_tkt.AuthTicketTests) ... ok
test_ctor_string_algorithm (repoze.who.tests.test__auth_tkt.AuthTicketTests) ... ok
test_digest (repoze.who.tests.test__auth_tkt.AuthTicketTests) ... ok
test_w_expected (repoze.who.tests.test__auth_tkt.BadTicketTests) ... ok
test_wo_expected (repoze.who.tests.test__auth_tkt.BadTicketTests) ... ok
test_encode_ip_timestamp (repoze.who.tests.test__auth_tkt.Test_helpers) ... ok
test_ints_to_bytes (repoze.who.tests.test__auth_tkt.Test_helpers) ... ok
test_maybe_encode_bytes (repoze.who.tests.test__auth_tkt.Test_helpers) ... ok
test_maybe_encode_native_string (repoze.who.tests.test__auth_tkt.Test_helpers) ... ok
test_maybe_encode_unicode (repoze.who.tests.test__auth_tkt.Test_helpers) ... ok
test_bad_timestamp (repoze.who.tests.test__auth_tkt.Test_parse_ticket) ... ok
test_no_bang_after_userid (repoze.who.tests.test__auth_tkt.Test_parse_ticket) ... ok
test_w_tokens_and_data_ok_alternate_digest (repoze.who.tests.test__auth_tkt.Test_parse_ticket) ... ok
test_w_tokens_and_data_ok_digest (repoze.who.tests.test__auth_tkt.Test_parse_ticket) ... ok
test_wo_tokens_or_data_bad_digest (repoze.who.tests.test__auth_tkt.Test_parse_ticket) ... ok
test_wo_tokens_or_data_ok_digest (repoze.who.tests.test__auth_tkt.Test_parse_ticket) ... ok
test_noprefix_fail (repoze.who.plugins.tests.test_sql.TestDefaultPasswordCompare) ... ok
test_noprefix_success (repoze.who.plugins.tests.test_sql.TestDefaultPasswordCompare) ... ok
test_shaprefix_fail (repoze.who.plugins.tests.test_sql.TestDefaultPasswordCompare) ... ok
test_shaprefix_success (repoze.who.plugins.tests.test_sql.TestDefaultPasswordCompare) ... ok
test_shaprefix_w_unicode_cleartext (repoze.who.plugins.tests.test_sql.TestDefaultPasswordCompare) ... ok
test_bad_connfactory (repoze.who.plugins.tests.test_sql.TestMakeSQLAuthenticatorPlugin) ... ok
test_comparefunc_specd (repoze.who.plugins.tests.test_sql.TestMakeSQLAuthenticatorPlugin) ... ok
test_connfactory_specd (repoze.who.plugins.tests.test_sql.TestMakeSQLAuthenticatorPlugin) ... ok
test_no_connfactory (repoze.who.plugins.tests.test_sql.TestMakeSQLAuthenticatorPlugin) ... ok
test_noquery (repoze.who.plugins.tests.test_sql.TestMakeSQLAuthenticatorPlugin) ... ok
test_bad_connfactory (repoze.who.plugins.tests.test_sql.TestMakeSQLMetadataProviderPlugin) ... ok
test_comparefn_specd (repoze.who.plugins.tests.test_sql.TestMakeSQLMetadataProviderPlugin) ... ok
test_connfactory_specd (repoze.who.plugins.tests.test_sql.TestMakeSQLMetadataProviderPlugin) ... ok
test_no_connfactory (repoze.who.plugins.tests.test_sql.TestMakeSQLMetadataProviderPlugin) ... ok
test_no_name (repoze.who.plugins.tests.test_sql.TestMakeSQLMetadataProviderPlugin) ... ok
test_no_query (repoze.who.plugins.tests.test_sql.TestMakeSQLMetadataProviderPlugin) ... ok
test_authenticate_comparefail (repoze.who.plugins.tests.test_sql.TestSQLAuthenticatorPlugin) ... ok
test_authenticate_comparesuccess (repoze.who.plugins.tests.test_sql.TestSQLAuthenticatorPlugin) ... ok
test_authenticate_nologin (repoze.who.plugins.tests.test_sql.TestSQLAuthenticatorPlugin) ... ok
test_authenticate_noresults (repoze.who.plugins.tests.test_sql.TestSQLAuthenticatorPlugin) ... ok
test_implements (repoze.who.plugins.tests.test_sql.TestSQLAuthenticatorPlugin) ... ok
test_add_metadata (repoze.who.plugins.tests.test_sql.TestSQLMetadataProviderPlugin) ... ok
test_implements (repoze.who.plugins.tests.test_sql.TestSQLMetadataProviderPlugin) ... ok
test_challenge (repoze.who.plugins.tests.test_redirector.TestRedirectorPlugin) ... ok
test_challenge_w_reason_no_reason_param_no_came_from_param (repoze.who.plugins.tests.test_redirector.TestRedirectorPlugin) ... ok
test_challenge_w_reason_no_reason_param_w_came_from_param (repoze.who.plugins.tests.test_redirector.TestRedirectorPlugin) ... ok
test_challenge_with_custom_reason_header (repoze.who.plugins.tests.test_redirector.TestRedirectorPlugin) ... ok
test_challenge_with_reason_and_custom_reason_param (repoze.who.plugins.tests.test_redirector.TestRedirectorPlugin) ... ok
test_challenge_with_reason_header (repoze.who.plugins.tests.test_redirector.TestRedirectorPlugin) ... ok
test_challenge_with_setcookie_from_app (repoze.who.plugins.tests.test_redirector.TestRedirectorPlugin) ... ok
test_challenge_wo_reason_w_came_from_param (repoze.who.plugins.tests.test_redirector.TestRedirectorPlugin) ... ok
test_class_conforms_to_IChallenger (repoze.who.plugins.tests.test_redirector.TestRedirectorPlugin) ... ok
test_ctor_w_reason_param_wo_reason_header (repoze.who.plugins.tests.test_redirector.TestRedirectorPlugin) ... ok
test_ctor_wo_reason_param_w_reason_header (repoze.who.plugins.tests.test_redirector.TestRedirectorPlugin) ... ok
test_instance_conforms_to_IChallenger (repoze.who.plugins.tests.test_redirector.TestRedirectorPlugin) ... ok
test_defaults (repoze.who.plugins.tests.test_redirector.Test_make_redirecting_plugin) ... ok
test_explicit_came_from_param (repoze.who.plugins.tests.test_redirector.Test_make_redirecting_plugin) ... ok
test_explicit_reason_header_param (repoze.who.plugins.tests.test_redirector.Test_make_redirecting_plugin) ... ok
test_explicit_reason_header_param_no_reason_param_raises (repoze.who.plugins.tests.test_redirector.Test_make_redirecting_plugin) ... ok
test_explicit_reason_param (repoze.who.plugins.tests.test_redirector.Test_make_redirecting_plugin) ... ok
test_no_login_url_raises (repoze.who.plugins.tests.test_redirector.Test_make_redirecting_plugin) ... ok
test_authenticate_bad_filename_logs_to_repoze_who_logger (repoze.who.plugins.tests.test_htpasswd.TestHTPasswdPlugin) ... ok
test_authenticate_badline (repoze.who.plugins.tests.test_htpasswd.TestHTPasswdPlugin) ... ok
test_authenticate_filename (repoze.who.plugins.tests.test_htpasswd.TestHTPasswdPlugin) ... ok
test_authenticate_match (repoze.who.plugins.tests.test_htpasswd.TestHTPasswdPlugin) ... ok
test_authenticate_nocreds (repoze.who.plugins.tests.test_htpasswd.TestHTPasswdPlugin) ... ok
test_authenticate_nolines (repoze.who.plugins.tests.test_htpasswd.TestHTPasswdPlugin) ... ok
test_authenticate_nousermatch (repoze.who.plugins.tests.test_htpasswd.TestHTPasswdPlugin) ... ok
test_crypt_check (repoze.who.plugins.tests.test_htpasswd.TestHTPasswdPlugin) ... ok
test_factory (repoze.who.plugins.tests.test_htpasswd.TestHTPasswdPlugin) ... ok
test_factory_no_check_fn_raises (repoze.who.plugins.tests.test_htpasswd.TestHTPasswdPlugin) ... ok
test_factory_no_filename_raises (repoze.who.plugins.tests.test_htpasswd.TestHTPasswdPlugin) ... ok
test_implements (repoze.who.plugins.tests.test_htpasswd.TestHTPasswdPlugin) ... ok
test_plain_check (repoze.who.plugins.tests.test_htpasswd.TestHTPasswdPlugin) ... ok
test_sha1_check (repoze.who.plugins.tests.test_htpasswd.TestHTPasswdPlugin) ... ok
test_challenge (repoze.who.plugins.tests.test_basicauth.TestBasicAuthPlugin) ... ok
test_challenge_forgetheaders_includes (repoze.who.plugins.tests.test_basicauth.TestBasicAuthPlugin) ... ok
test_challenge_forgetheaders_omits (repoze.who.plugins.tests.test_basicauth.TestBasicAuthPlugin) ... ok
test_factory (repoze.who.plugins.tests.test_basicauth.TestBasicAuthPlugin) ... ok
test_forget (repoze.who.plugins.tests.test_basicauth.TestBasicAuthPlugin) ... ok
test_identify_basic_badencoding (repoze.who.plugins.tests.test_basicauth.TestBasicAuthPlugin) ... ok
test_identify_basic_badrepr (repoze.who.plugins.tests.test_basicauth.TestBasicAuthPlugin) ... ok
test_identify_basic_ok (repoze.who.plugins.tests.test_basicauth.TestBasicAuthPlugin) ... ok
test_identify_basic_ok_latin1_values (repoze.who.plugins.tests.test_basicauth.TestBasicAuthPlugin) ... ok
test_identify_basic_ok_utf8_values (repoze.who.plugins.tests.test_basicauth.TestBasicAuthPlugin) ... ok
test_identify_noauthinfo (repoze.who.plugins.tests.test_basicauth.TestBasicAuthPlugin) ... ok
test_identify_nonbasic (repoze.who.plugins.tests.test_basicauth.TestBasicAuthPlugin) ... ok
test_implements (repoze.who.plugins.tests.test_basicauth.TestBasicAuthPlugin) ... ok
test_remember (repoze.who.plugins.tests.test_basicauth.TestBasicAuthPlugin) ... ok
test_authenticate_non_auth_tkt_credentials (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_authenticate_with_checker_and_existing_account (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_authenticate_with_checker_and_non_existing_account (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_authenticate_without_checker (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_class_conforms_to_IAuthenticator (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_class_conforms_to_IIdentifier (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_factory_w_bad_secretfile_raises_ValueError (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_factory_w_secret (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_factory_w_secret_w_secretfile_raises_ValueError (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_factory_w_secretfile (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_factory_with_alternate_hash (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_factory_with_alternate_hash_func (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_factory_with_bogus_hash (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_factory_with_timeout_and_reissue_time (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_factory_with_userid_checker (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_factory_wo_secret_wo_secretfile_raises_ValueError (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_forget (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_identify_bad_cookie (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_identify_bad_cookie_expired (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_identify_bad_cookie_with_alternate_hash (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_identify_good_cookie_dont_include_ip (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_identify_good_cookie_include_ip (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_identify_good_cookie_int_useridtype (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_identify_good_cookie_unknown_useridtype (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_identify_nocookie (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_identify_with_alternate_hash (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_identify_with_checker_and_existing_account (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_instance_conforms_to_IAuthenticator (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_instance_conforms_to_IIdentifier (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_l10n_sane_cookie_date (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_different (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_different_bad_old_cookie (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_different_include_ip (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_different_int_userid (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_different_long_userid (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_different_strips_port (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_different_unicode_userid (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_different_with_tokens (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_different_with_tuple_tokens (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_hash_mismatch (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_reissue (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_reissue_alternate_hash (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_same (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_same_alternate_hash (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_samesite (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_secure (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_creds_secure_alternate_hash (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_max_age (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_remember_max_age_unicode (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_timeout_lower_than_reissue (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok
test_timeout_no_reissue (repoze.who.plugins.tests.test_authtkt.TestAuthTktCookiePlugin) ... ok

======================================================================
ERROR: test_brokenimpl (repoze.who.tests.test_api.TestMakeRegistries)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/tmp/py/test1/repoze.who/repoze/who/tests/test_api.py", line 108, in test_brokenimpl
    [(None, object())], [], [], [])
  File "/usr/lib64/python3.7/unittest/case.py", line 756, in assertRaises
    return context.handle('assertRaises', args, kwargs)
  File "/usr/lib64/python3.7/unittest/case.py", line 178, in handle
    callable_obj(*args, **kwargs)
  File "/tmp/py/test1/repoze.who/repoze/who/tests/test_api.py", line 99, in _callFUT
    challengers, mdproviders)
  File "/tmp/py/test1/repoze.who/repoze/who/api.py", line 72, in make_registries
    verify(value, iface)
  File "/tmp/py/test1/repoze.who/repoze/who/api.py", line 57, in verify
    verifyObject(iface, plugin, tentative=True)
  File "/tmp/py/test1/lib64/python3.7/site-packages/zope/interface/verify.py", line 172, in verifyObject
    return _verify(iface, candidate, tentative, vtype='o')
  File "/tmp/py/test1/lib64/python3.7/site-packages/zope/interface/verify.py", line 92, in _verify
    raise MultipleInvalid(iface, candidate, excs)
zope.interface.exceptions.MultipleInvalid: The object <object object at 0x7f4cf0f1c790> has failed to implement interface <InterfaceClass repoze.who.interfaces.IIdentifier>:
    The repoze.who.interfaces.IIdentifier.identify(environ) attribute was not provided
    The repoze.who.interfaces.IIdentifier.remember(environ, identity) attribute was not provided
    The repoze.who.interfaces.IIdentifier.forget(environ, identity) attribute was not provided

----------------------------------------------------------------------
Ran 302 tests in 0.052s

FAILED (errors=1)
Test failed: <unittest.runner.TextTestResult run=302 errors=1 failures=0>
error: Test failed: <unittest.runner.TextTestResult run=302 errors=1 failures=0>
```


Looks like it has something with this:

https://github.com/zopefoundation/zope.interface/issues/171

This patch fixes this problem, but I am not sure, if it's a real solution:

```
diff -ur repoze.who-2.3/repoze/who/api.py repoze.who-2.3.fixed/repoze/who/api.py
--- repoze.who-2.3/repoze/who/api.py	2015-03-18 20:33:59.000000000 +0100
+++ repoze.who-2.3.fixed/repoze/who/api.py	2020-05-09 19:02:44.318618915 +0200
@@ -58,7 +58,7 @@
 
  
 def make_registries(identifiers, authenticators, challengers, mdproviders):
-    from zope.interface.verify import BrokenImplementation
+    from zope.interface import Invalid
     interface_registry = {}
     name_registry = {}
 
@@ -70,7 +70,7 @@
         for name, value in supplied:
             try:
                 verify(value, iface)
-            except BrokenImplementation as why:
+            except Invalid as why:
                 why = str(why)
                 raise ValueError(str(name) + ': ' + why)
             L = interface_registry.setdefault(iface, [])
```
(sorry, don't know how to attach patches here).


Thanks for the report.  Fixed via 52701aeecd97ffbd27e3711c08ab012596d88ddc